@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  padding: 0 20px;
  background-color: rgb(20, 33, 218);
}

.container {
  margin: 32px 0;
}

.row {
  width: 100%;
  max-width: 1800px;
  padding: 0 32px;
}

.fa-solid,
.fa-star {
  color: rgb(241, 191, 43);
}

/*

Section: Nav 

*/

.nav__box {
  width: 100%;
  max-width: 1400px;
  border: 3px solid rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  list-style-type: none;
}

.nav__link {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 0, 0);
}


/*

 Section: Movies 
 
 */

 .movie__list {
   width: calc(100% / 3);
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   justify-content: space-between;
 }

.movie__card {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}


.movie__img {
  width: 150px;
}

.movies__title {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie__name {
  font-size: 26px;
  margin: 12px 0;
}
